.primary-color{
    -fx-background-color: #FFFFFF;
}

.secondary-color{
    -fx-background-color: #B8D6EB;
}

.round-border {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}
.round-border:hover,
.round-border:focused {
    -fx-border-color: #000000;
}

.titled-pane > .title {
    -fx-background-color: null;
}

.titled-pane > *.content {
    -fx-background-color: null;
    -fx-border-color: null;
}

#category-background {
    -fx-background-color: #B8D6EB;
    -fx-background-radius: 15;
}

#category-pane {
    -fx-box-border: transparent;
}

#category-pane > .title{
    -fx-background-color: #B8D6EB;
    -fx-box-border: transparent;

}
#category-content{
    -fx-background-color: #B8D6EB;

}

.sorting-buttons {
    -fx-background-color: #e3e3e3;
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: black;
}

.sorting-buttons:hover,
.sorting-buttons:focused {
    -fx-background-color: #B5B5B5;
    -fx-border-color: #000000;
}

.edit-name-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.edit-name-button:hover,
.edit-name-button:focused {
    -fx-background-color: #C9E3F6;
    -fx-border-color: #000000;
}


.add-button {
    -fx-background-color: #232F34;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.add-button:focused,
.add-button:hover {
    -fx-background-color: #3e5159;
    -fx-border-color: #000000;
}

.add-button:pressed {
    -fx-translate-y: 1px;
    -fx-translate-x: 1px;
}

.delete-button {
    -fx-background-color: none;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.delete-button:pressed {
    -fx-translate-x: 1px;
    -fx-translate-y: 1px;
}
.delete-button:hover,
.delete-button:focused {
    -fx-background-color: #E6E6E6;
    -fx-border-color: #000000;
}


#task-background {
    -fx-background-color: #f0efe4;
    -fx-background-radius: 10;
}

#task-pane > .title {
    -fx-background-color: #f0efe4;
}

#task-content {
    -fx-background-color: #f0efe4;
}

#line {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: lightgrey;
    -fx-padding: 10 0 0 0;
}

#empty-label {
    -fx-border-width: 2px;
    -fx-border-style: dotted;
    -fx-border-radius: 5px;
}

.toggle-button {
    -fx-pref-width: 70;
    -fx-pref-height: 20;
    -fx-background-radius: 0;
    -fx-background-color: #e3e3e3;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-font-size: 10;
}
.toggle-button:selected {
    -fx-background-color: #B8D6EB;
}
.toggle-button:hover,
.toggle-button:focused {
    -fx-background-color: #D9EDFB;
}

.toggle-button-left {
    -fx-background-radius: 2 0 0 2;
    -fx-border-radius: 2 0 0 2;
    -fx-border-width: 1 0 1 1;
}

.toggle-button-right {
    -fx-background-radius: 0 2 2 0;
    -fx-border-radius: 0 2 2 0;
    -fx-border-width: 1 1 1 0;
}

.task-label {
    -fx-pref-width: 100;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: black;
}

#task-delete-button {
    -fx-effect: none;
}

#change-deadline {
    -fx-pref-width: 117;
    -fx-border-radius: 2;

}




